<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> PCOS DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
        <b> Age               :  <input type="text", name='a', placeholder="years" style="margin: 10px;"> <br><br>
            Weight            :  <input type="text", name='b', placeholder="Kgs"> <br><br>
            Cycle length      :  <input type="text", name='c', placeholder="no. of days"> <br><br>
            Pregnant          : <input type="text", name='d', placeholder="Yes/No"> <br><br>
            FSH/LH            : <input type="text", name='e', placeholder="decimal"> <br><br>
            AMH               : <input type="text", name='f', placeholder="decimal"> <br><br>
            Weight gain       : <input type="text", name='g', placeholder="Yes/No"> <br><br>
            hair growth       : <input type="text", name='h', placeholder="Yes/No"> <br><br>
            Skin darkening    : <input type="text", name='i', placeholder="Yes/No"> <br><br>
            Pimples           : <input type="text", name='j', placeholder="Yes/No"> <br><br>
            Fast food (Y/N)   : <input type="text", name='k', placeholder="Yes/No"> <br><br>
            Follicle No. (R)  : <input type="text", name='l', placeholder="number"> <br><br>
            Avg. F size (L)   : <input type="text", name='m', placeholder="in mm"> <br><br><br>
        
        </b>
            <input type="submit" , value='predict!' >
        </form>
             
        
    </center>

    </body>
</html>
